body {
    margin: 0;
}

.hero {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-left: 100px;
    margin-right: 100px;
}

.logo {
    font-size: 24px;
}

.links {
    display: flex;
    gap: 20px;
    font-size: 18px;
    color: #E5E7EB;
}